.Homepage {
    height: 100vh;
    background-color: #FF4081;
    color: white;
    display: flex;
    
    //align top 
    align-items: flex-start;

    
    
    flex-direction: row;
    transition: all 1s ease-in-out;

    h1 {
        font-size: 7rem;
    }

}
.home{
width:200px;
height:200px;
background-color: rgb(255, 255, 255);
margin-top: 100px;
margin-left: 200px;
padding:20px;
//bottom-right box-shadow
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.217);
}

.button{
    
        background: #fff;
        padding: 10px;
        width: 160px;
        height: 50px;
        border:1px solid #FF4081;
        
        margin-top: 40px;
        margin-left:20px;
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;
        transition : all 0.5s;
        box-shadow:0 50px #FF4081 inset;
        color: #fafafa;
        
          &:hover{
              box-shadow:0 0 #FF4081 inset;
              color: #FF4081;
          }
          &:focus{
            outline: none;
          }
        
}

.hand421{
    width: 22px;
    height: 30px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(53, 52, 52);
    margin: 5px;
    position: absolute;
    top: 80px;
    left: 240px;
  }
  .hand422{
    width: 22px;
    height: 30px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(53, 52, 52);
    margin: 5px;
    position: absolute;
    top: 80px;
    left: 260px;
  }
  .hand423{
    width: 20px;
    height: 30px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(53, 52, 52);
    margin: 5px;
    position: absolute;
    top: 75px;
    left: 285px;
  }

  .hand211{
    width: 15px;
    height: 17px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(243, 136, 185);
    margin: 5px;
    position: absolute;
    top: 90px;
    z-index: 1;
    left: 243px;
  }
  
  .hand425{
    width: 22px;
    height: 30px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(53, 52, 52);
    margin: 5px;
    position: absolute;
    top: 75px;
    left: 220px;
  }

  .hand426{
    width: 15px;
    height: 17px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(243, 136, 185);
    margin: 5px;
    position: absolute;
    top: 85px;
    z-index: 1;
    left: 223px;
  }




  .hand221{
    width: 12px;
    height: 15px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(243, 136, 185);
    margin: 5px;
    position: absolute;
    top: 87px;
    z-index: 1;
    left: 290px;
  }

  .hand231{
    width: 15px;
    height: 17px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(243, 136, 185);
    margin: 5px;
    position: absolute;
    top: 90px;
    z-index: 1;
    left: 264px;
  }

  .hand424{
    width: 35px;
    height: 25px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(53, 52, 52);
    margin: 5px;
    position: absolute;
    top: 120px;
    left: 180px;
  }

  .hand214{
    width: 16px;
    height: 17px;
     border-radius:50px;
     box-shadow:0 2px 3px rgba(0,0,0,.15);
    background-color: rgb(243, 136, 185);
    margin: 5px;
    position: absolute;
    top: 123px;
    z-index: 1;
    left: 195px;
  }

  //.home on hover scale 1.1 smooth
    .home:hover{
        transform: scale(1.1);
        transition: all 1s ease-in-out;
    }

//when .home is hovered, scale hand-1 1.1 smooth
    .home:hover ~ .hand-1{
        transform: scale(1.1) translate(-30px,-20px);
        transition: all 1s ease-in-out ;
    }
.hand-1{
    position:absolute;
}